:root{
    --background-color: #F7F3EB;
    --primary-button: #9D61F1;
    --links-color: #595755;
    --p-color: #000000;
}

html{
    scroll-behavior: smooth;
}

*{
    font-family: "Gill Sans Extrabold", sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: var(--background-color);
}

